.tag {
	cursor: pointer;
	width: 52px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover {
		filter: brightness(88%);
	}
	& > svg {
		width: 80%;
		height: 80%;
	}
}
