$color-white-basic: #ffffff;
$color-black-basic: #212225;
$color-gray-basic: #f0f0f0;
$color-blue-light: #ebf2ff;
$color-blue-basic: #0061ff;
$color-blue-deep: #051f61;

$height-header-desk: 100px;
$height-footer-desk: 80px;

$font-size-title: 44px;
$font-size-title-x: 64px;
$font-size-subtitle: 35px;

$screen-size-lg: 1920px;
$screen-size-med: 1680px;
$screen-size-lap: 1400px;
$screen-size-desk: 1200px;
$screen-size-sm: 1024px;
$screen-size-mob: 800px;
