@import './constants.scss';
.global-width-limiter {
	margin: 0 auto;
	max-width: $screen-size-med;
	width: 100%;
}

.customSelect .ant-select-selector {
	border: none;
	max-width: 200px;
	position: relative;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: $color-blue-light !important;
	display: flex;
	font-size: 16px;
	width: 100%;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	color: $color-blue-basic;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	gap: 8px;
	&:hover {
		outline: 1px solid fade_out($color-blue-basic, 0.5);
	}
}
.ant-upload-wrapper .ant-upload-select {
	display: block;
}
.ant-btn-default {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.ant-table-body {
	min-height: 420px;
}
.ant-table-content {
	overflow-x: none !important;
	overflow-y: none !important;
}

.ant-select-dropdown .ant-select-item-option {
	padding: 0;
}


