@import '../../../../styles/constants.scss';
.header {
	padding: 25px 20px;
	background-color: $color-white-basic;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 35px;
}
.title {
	color: $color-blue-deep;
	font-weight: 600;
	font-size: 32px;
	line-height: 22px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.leftSideWrapper {
	display: flex;
	gap: 25px;
	align-items: center;
	justify-content: center;
}
.rightSideWrapper {
	display: flex;
	gap: 25px;
	align-items: center;
	justify-content: center;
}
.iconWrapper {
	display:flex;
	align-items:center;
	justify-content:center;
	cursor: pointer;
	border-radius: 50%;
	padding: 2px 4px;
	transition: background-color 0.2s;
	&:hover {
		background-color: $color-gray-basic;
	}
}

.buttonsContainer {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}
