@import '../../../../styles/constants.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	max-width: 900px;
	width: 100%;
	margin: 100px auto 0;
	background-color: white;
	border-radius: 8px;
	height: 95vh;
	padding: 25px 15px;
	position: relative;
	margin-bottom:20px;
}

.contentWrapper {
	border-radius: 16px;
	display: inline-flex;
	margin-top: 80px;
	background-color: $color-gray-basic;
	min-width: 100%;
	height: inherit;
	justify-content: center;
	align-items: center;
	position: relative;
}
