@import '../../../styles/globals';
.button {
	border: none;
	max-width: 200px;
	position: relative;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: $color-blue-light;
	display: flex;
	font-size: 16px;
	width: 100%;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	color: $color-blue-basic;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	gap: 8px;
	&:hover {
		outline: 1px solid fade_out($color-blue-basic, 0.5);
	}
}

.uploadBtn {
	cursor:pointer;
	padding:2px 4px;
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	height: 100%;
	background-color: $color-blue-light;
	gap:10px;
	&:hover{
		color:$color-blue-basic;
	}
}
.fileInput{
	cursor:pointer;
	display:none;
}
