@import '../../../../styles/constants.scss';

.container {
	margin: 0 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 40px;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	background-color: $color-white-basic;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 10px;
}
