.container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 35px;
}
.button {
	flex: 1;
	align-items: center;
	background-color: transparent;
	color: #1061da;
	border: 2px solid #000;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	font-size: 26px;
	font-weight: 500;
	height: 30px;
	justify-content: center;
	letter-spacing: -0.8px;
	line-height: 24px;
	min-width: 85px;
	outline: 0;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	border: none;
	border-radius: 2px;

	&:hover {
		background-color: black;
		border-color: #fff;
		color: #fff;
		fill: #fff;
	}

	&:active {
		border-color: #fff;
		color: #fff;
		fill: #fff;
	}
}
