.button {
	flex: 1;
	align-items: center;
	background-color: #fff;
	color: bisque;
	border: 2px solid #000;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: inline-flex;
	fill: #000;
	font-family: Inter, sans-serif;
	font-size: 18px;
	font-weight: 500;
	height: 30px;
	justify-content: center;
	letter-spacing: -0.8px;
	line-height: 24px;
	min-width: 85px;
	outline: 0;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	border: none;
	border-radius: 4px;
	min-width: 100px;

	&:focus {
		color: bisque;
	}

	&:hover {
		color: #fff;
		fill: #fff;
	}

	&:active {
		filter: brightness(85%);
		color: #fff;
		fill: #fff;
	}
}
