@import '../../../../styles/constants.scss';
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}
.header {
	color: $color-blue-deep;
	font-weight: 500;
	font-size: 24px;
	line-height: 22px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonsWrapper{
	display:flex;
	gap:15px;
}